# Python
__pycache__/
*.pyc

# Flask
flask_session/

# Jupyter
.ipynb_checkpoints/

# Env / build
.env
venv/
.envrc
.flaskenv

# OS
.DS_Store

# test code
migration.ipynb
read_neondb.ipynb
sqlalchemy_connection.ipynb
sqlalchemy_seesion.ipynb

# babel language shorcut
messages.pot

witch_points.ipynb