{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
    <div class="game-error-overlay">
        <div class="game-error-box">
            <div class="game-error-header">
                <h2 class="game-error-title">Error</h2>

                <a href="{{url}}"
                    class="game-error-close"
                    aria-label="Close"></a>
            </div>

            <div class="game-error-body">
                <div class="game-error-text-wrap">
                    <p class="game-error-text">
                    {{ text }}
                    </p>
                </div>

            <div class="game-error-actions">
                    <a href="{{ url }}"
                    class="game-btn game-btn-modal">
                        <span>OK</span>
                    </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
