{% extends "layout.html" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}
<fieldset class="card contact-card">
  <legend><strong>Contacto</strong></legend>

  <div class="contact-content">

    <!-- Imagen grande a la izquierda -->
        <div class="contact-image">
        <img src="/static/favicon_4bel.ico" alt="4bel avatar">
        </div>

    <!-- Texto -->
    <div class="contact-text">
    

      <p>
        Esta página es un <strong>proyecto creado por 4bel</strong> y no tiene
        afiliación oficial con Elvenar ni con InnoGames.
      </p>

      <p>
        Juego actualmente en los mundos <strong>Winyandor</strong> y
        <strong>Arendyll</strong> de. España.
      </p>

      <p>
        Si tienes dudas, sugerencias o ideas para mejorar el optimizador,
        puedes contactarme directamente en el juego o por Discord.
      </p>

      <p class="contact-links">
        🧙 En juego: <strong>4bel</strong><br>
        🌍 Mundos: <strong>Winyandor · Arendyll</strong> - ES<br>
        💬 Discord: <strong>4bel</strong><br>
        📧 Email:
        <a href="mailto:4belcatan@gmail.com">4belcatan@gmail.com</a>
      </p>
    </div>

  </div>
</fieldset>
{% endblock %}