{% extends "layout.html" %}

{% block title %}
  {{ _("Contact") }}
{% endblock %}

{% block main %}
<fieldset class="card contact-card">
  <div class="contact-content">

    <div class="contact-image">
      <img src="{{ url_for('static', filename='favicon_4bel.png') }}" alt="4bel avatar">
    </div>

    <div class="contact-text">
      <p>
      {{ _("Esta página es un %(project)s y no tiene afiliación oficial con Elvenar ni con InnoGames.")
        | format(project="<strong>" ~ _('proyecto creado por 4bel') ~ "</strong>")
        | safe }}
      </p>

      <p>
        {{ _("Si tienes dudas en cómo usar el optimizador, o sugerencias para mejorarlo, puedes contactarme directamente en el juego, por Discord o vía email.") }}
      </p>

      <p class="contact-links">
        🧙 {{ _("En juego") }}: <strong>4bel</strong><br>
        🌍 {{ _("Mundos") }}: <strong>Winyandor · Arendyll</strong> - ES<br>
        💬 Discord: <strong>4bel</strong><br>
        📧 Email:
        <a href="mailto:4belcatan@gmail.com">4belcatan@gmail.com</a>
      </p>
    </div>

  </div>
</fieldset>
{% endblock %}