{% extends "layout.html" %}

{% block title %}
    {{ _("Iniciar sesión") }}
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
        <input
            autocomplete="off"
            autofocus
            class="form-control mx-auto w-auto"
            name="username"
            placeholder="{{ _('Usuario') }}"
            type="text"
            required
        >
    </div>

    <div class="mb-3">
        <input
            class="form-control mx-auto w-auto"
            name="password"
            placeholder="{{ _('Contraseña') }}"
            type="password"
            required
        >
    </div>

    <button class="game-main-btn" type="submit">
        <span>{{ _("Iniciar sesión") }}</span>
    </button>

    <div class="login-register-hint">
        <a href="{{ url_for('register') }}">{{ _("Crear cuenta") }}</a>
    </div>
</form>
{% endblock %}