{% extends "layout.html" %}

{% block title %}
    {{ _("Iniciar sesión") }}
{% endblock %}

{% block main %}
<form action="{{ url_for('login') }}" method="post">
    {{ form.hidden_tag() }} 
    <div class="mb-3">
        {{ form.username(
            class="form-control mx-auto w-auto",
            autocomplete="off",
            autofocus=True,
            placeholder=form.username.label.text
        ) }}
    </div>

    <div class="mb-3">
        {{ form.password(
            class="form-control mx-auto w-auto",
            placeholder=form.password.label.text
        ) }}
    </div>

    <button class="game-main-btn" type="submit">
        <span>{{ _("Iniciar sesión") }}</span>
    </button>

    <div class="login-register-hint">
        <a href="{{ url_for('register') }}">{{ _("Crear cuenta") }}</a>
    </div>
</form>
{% endblock %}