{% extends "layout.html" %}

{% block title %}
    {{ _("Crear cuenta") }}
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <input
            autocomplete="off"
            autofocus
            class="form-control mx-auto w-auto"
            name="username"
            placeholder="{{ _('Usuario') }}"
            type="text"
            required
        >
    </div>

    <div class="mb-3">
        <input
            class="form-control mx-auto w-auto"
            name="password"
            placeholder="{{ _('Contraseña') }}"
            type="password"
            required
        >
    </div>

    <div class="mb-3">
        <input
            class="form-control mx-auto w-auto"
            name="confirmation"
            placeholder="{{ _('Confirmar contraseña') }}"
            type="password"
            required
        >
    </div>

    <button class="game-main-btn" type="submit">
        <span>{{ _("Crear cuenta") }}</span>
    </button>
</form>
{% endblock %}