/* =========================
   Main Stylesheet
   Imports all modular CSS files
   ========================= */

@import url('base.css');
@import url('navbar.css');
@import url('cards.css');
@import url('forms.css');
@import url('buttons.css');
@import url('modals.css');
@import url('optimizer.css');
@import url('ingredients.css');
@import url('results.css');
@import url('pages.css');
@import url('contact.css');
